/*this edits the body of  my html file*/
body {
    background-color: rgba(0,255,0,0.5);
    color: #281f52;
    text-align: center;
    
}

section{
    border-style: solid;
    border-color: #0ce8c3;
    border-width: 100%; 
    border-radius:  100px;
}
/*styling the h1 header and title*/
header h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

header h2{
    font-size: 1cm;

}


