/*this edits the body of  my html file*/
body {
    background-color: rgba(0,255,0,0.5);
    color: #281f52;
    text-align: center;
    
}

section{
    border-style: solid;
    border-color: #0ce8c3;
    border-width: 2px; 
    border-radius:  25px;
}
/*styling the h1 header and title*/
header h1 {
    font-size: 40px;
    width : 80%;
    max-width:600px;
    color: black;
}

header h2{
    font-size: 2rem;
}

div{
    width: 2in;
    height: 3in;
}

p{
    width: 4cm;
    height: 5cm;
}

section{
    height: 50vh;
}
